/* Mobile */
@media only screen and (max-width: 576px) {
  /* Header responsive */
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  /* Content responsive */
  .place {
    width: 100%;
    text-align: center;
  }

  .place-icon img {
    width: 150px;
    height: 250px;
  }

  .popular-tour-wrapper {
    padding-top: 30px;
    text-align: center;
  }

  /* Main responsive */
  form {
    padding-top: 20px;
    width: 100%;
    margin: 0;
  }
}

/* Tablet */
@media only screen and (max-width: 1000px) {
  nav .logo {
    margin: 0;
  }

  nav ul {
    width: 50%;
  }

  /* Content responsive */
  .place {
    width: 50%;
    margin-top: 20px;
    text-align: center;
  }
}
