* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", "Open Sans", sans-serif;
}

body {
  width: 100%;
  background-color: #dddd;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header menu */
header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: rgba(95, 158, 160, 0.493);
  height: 65px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.header-icon {
  padding-right: 15px;
}

#brand {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
}

#brand a {
  color: white;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

body {
  width: 100%;

  background-color: #dddd;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Main */
.main .container {
  padding: 100px 0 190px 0;
  background-image: url(https://asset-a.grid.id/crop/0x0:0x0/x/photo/2018/09/12/3435397472.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.main {
  height: 500px;
  background-color: #eeeeee;
}

.main {
  text-align: center;
}

.copy-container h1 {
  font-size: 50px;
  padding: 0 50px;
  font-weight: bold;
  letter-spacing: 3px;
}

.copy-container p {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 12px;
}

form {
  width: 500px;
  margin: 50px auto;
}
.search {
  padding: 8px 15px;
  background: rgba(3, 3, 3, 0.2);
  border: 0px solid #dbdbdb;
}
.button {
  position: relative;
  padding: 6px 15px;
  left: -8px;
  border: 2px solid #53bd84;
  background-color: #53bd84;
  color: #fafafa;
}
.button:hover {
  background-color: #fafafa;
  color: #050505;
}

/* Bagian popular place */
.popular-tour-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.popular-tour-wrapper .container {
  text-align: center;
}

.place {
  float: left;
  width: 25%;
  justify-content: space-between;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
}

.heading h2 {
  font-weight: normal;
}

.place-icon {
  position: relative;
  color: #fff;
}

.place-icon p {
  position: absolute;
  top: 5%;
  width: 100%;
}

.place-icon h3 {
  position: absolute;
  top: 15%;
  width: 100%;
}

.place-icon img {
  width: 250px;
  height: 350px;
  border-radius: 5px;
}

.btn-wrapper {
  position: absolute;
  top: 80%;
  width: 100%;
}

.btn-wrapper a {
  background-color: #11468f;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: small;
}

.btn-wrapper a:hover {
  background-color: #0b2b57;
  animation: all 10s;
  opacity: 1;
}

.popular-tour-wrapper {
  padding-top: 20px;
  padding-bottom: 100px;
  height: 500px;
  background-color: #eeeeee;
  z-index: -10;
}

.popular-tour-wrapper {
  text-align: center;
}

.heading h2 {
  font-weight: normal;
  letter-spacing: 3px;
}

.place {
  float: left;
  width: 25%;
  margin-top: 20px;
  text-align: center;
}

.pic-places {
  width: 250px;
  height: 350px;
  object-fit: cover;
}

.place-icon {
  position: relative;
  color: white;
}

.place-icon p {
  position: absolute;
  top: 5%;
  width: 100%;
}

.place-icon h3 {
  position: absolute;
  top: 15%;
  width: 100%;
}

.btn-wrapper {
  position: absolute;
  top: 80%;
  width: 100%;
}

.btn-wrapper button {
  background-color: #11468f;
  border-radius: 5px;
  border: none;
  padding: 10px 25px;
  color: white;
  font-size: small;
  opacity: 0.9;
}

.btn-wrapper button:hover {
  opacity: 1;
  cursor: pointer;
  animation: all 10s;
}

/* Bagian footer */
footer {
  text-align: center;
  color: black;
  padding: 32px;
  /* background-color: #eee; */
}
