* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #dddd;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: rgba(95, 158, 160, 0.493);
    justify-content: space-around;
    /* padding: 20px 0; */
    height: 65px;
    align-items: center;
}

nav .logo {
    font-weight: 700;
    font-size: 32px;
    margin-left: -100px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    font-size: 0.8em;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -5px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: #fff;
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, -0);
    background-color: #fff;
}

/* Bagian popular place */
.popular-tour-wrapper {
    padding-top: 20px;
    padding-bottom: 100px;
    height: 500px;
    background-color: #EEEEEE;
}

.popular-tour-wrapper {
    text-align: center;
}

.heading h2 {
    font-weight: normal;
    letter-spacing: 3px;
}

.place {
    float: left;
    width: 25%;
    margin-top: 20px;
    text-align: center;
}

.pic-places {
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.place-icon {
    position: relative;
    color: white;
}

.place-icon p {
    position: absolute;
    top:5%;
    width: 100%;
  }

.place-icon h3 {
  position: absolute;
  top: 15%;
  width: 100%;
}

.btn-wrapper {
    position: absolute;
    top: 80%;
    width: 100%;
}

.btn-wrapper button {
    background-color: #11468F;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    color: white;
    font-size: small;   
    opacity: 0.9;
}

.btn-wrapper button:hover {
    opacity: 1;
    cursor: pointer;
    animation: all 10s;
}

/* Bagian footer */
footer {
  text-align: center;
  color: black;
  top: 0;
  padding: 32px;
  width: 100%;
}
